*{
   padding: 0;
   margin: 0; 
}

header{
    background-color:rgb(44, 44, 44);
    height:80px;
    width:100%;
    position: relative;
}

header ul{
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 80px;
}

h1{
    position: absolute;
    left:120px;
    top:0;
    line-height:80px;
    background-size: contain;
    background-image:url(images/Logo.svg);
    /* LOGO，為了SEO所以用backgroundt呈現 */
    background-repeat:no-repeat;
    width: 210px;
    text-indent: -9999px;
}

header a{
    color:white;
    text-decoration:none;
}

header a:hover{
    text-decoration:underline;
}

header li{
    display:inline;
    margin-right:4vw;
}

.webinfor{
    background-color: rgb(255, 255, 255);
    color:white;
    height:85vh;
    background-image:url("images/banner.png");
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
/* 背景圖片 */
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
/* infor文字 */
}
.webinfor h2{
    font-size: 60px;
}
.webinfor p{
    color:#fef7e6;
    font-size: 20px;
    margin: 25px 0;
}

.webinfor a{
    color: white;
    text-decoration: none;
    border: 1px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
}

.webinfor a:hover {
    color:black;
    background-color: aliceblue;
    text-decoration: none;
    border: 1px solid #acacac;
    padding: 10px 20px;
    border-radius: 5px;
}

.slogn{
    background-color: #1c2631;
    color: white;
    display: flex;
    height: 200px;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height:1.8em;
}


.aboutweb{
    display:flex;
}


.aboutweb img{
    width: 50%;
}

.infor{
    width: 50%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.infor h2{
    font-size: 40px;
    margin-bottom: 30px;
}
.infor p{
    text-align: center;
    line-height: 2e;
    margin-bottom: 10px;
}

.aboutus{
    display:flex;
}


.aboutus img{
    width: 50%;
}



.introduce {
    display:flex;
    background-color: #ede9db;
    justify-content:space-between;
    align-items:center;
    padding: 50px 90px ;
}
.introduce div {
    width:300px;
    text-align:center;
}
.introduce img {
    width:100%;
    border-radius: 10px;;
}
.introduce h3 {
    font-size: 20px;    
    margin: 20px 0;
}
.introduce p {
    font-size:14px;
    line-height: 1.6em;
}

.introduce2 {
    display:flex;
    background-color: #b0aca0;
    justify-content:space-between;
    align-items:center;
    padding: 50px 90px ;
}
.introduce2 div {
    width:300px;
    text-align:center;
}
.introduce2 img {
    width:100%;
    border-radius: 10px;;
}
.introduce2 h3 {
    font-size: 20px;    
    margin: 20px 0;
}
.introduce2 p {
    font-size:14px;
    line-height: 1.6em;
}





.news{
    display:flex;
    background-color: #363636;
    justify-content:space-between;
    align-items:center;
    padding: 50px 90px;

}

footer {
    background-color: #000000;
    color: rgb(167, 167, 167);
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5px;
    line-height:1.8em;
}

.menu {
    display:none;
}
/* 響應式語法 */
@media screen and (max-width: 768px) {
    header ul {
        display:none;
    }
    header h1 {
        left:50%;
        transform: translateX(-50%);
    }
    .webinfor h2 {
        font-size:40px;
    }
    .menu {
        display:block;
        background-color: transparent;
        color:white;
        font-size: 35px;
        position:absolute;
        top:15px;
        left:20px;
        border:none;
        cursor: pointer;
    }
    .aboutweb {
        flex-direction: column;
    }
    .aboutweb img {
        width:100%;
    }
    .aboutus {
        flex-direction: column;
    }
    .aboutus img {
        width:100%;
    }

    .info {
        width:100%;
        padding:40px 0;
    }
    .info h2 {
        font-size:30px;
    }
    .introduce {
        flex-direction: column;
        padding: 60px 0;
    }
    .introduce div {
        margin-bottom: 30px;
    }

    .introduce2 {
        flex-direction: column;
        padding: 60px 0;
    }
    .introduce2 div {
        margin-bottom: 30px;
    }

    .news {
        flex-direction: column;
        width:100%;
        margin-bottom: 10px;
    }
    }